// COLORS
$primary-color: white;
$secondary-color: white;

$white-color: rgb(18, 25, 47);
/*$white-color: rgb(186, 12, 47);*/

$alternative-color: rgb(186, 12, 47);

$dark-grey: #333333;

$dark-blue-text: #FFFFFF; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
